body {
    font: Arial, Helvetica, sans-serif;
    background-image: cover.jpg;
}

#container {
    width: 80%;
    margin: 0 auto;
}

#header {
    height: 100px;
    padding: 10px 0;

}

#brand {
    float: left;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: #525a59;
    text-decoration: none;
}

#searchBox {
    float: right;
    background: linear-gradient(#7c7a7a, #282828);
    background: -webkit-linear-gradient(#7c7a7a, #282828);
    background: -o-linear-gradient(#7c7a7a, #282828);
    background: -moz-linear-gradient(#7c7a7a, #282828);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white right center no-repeat;
    border: 1px solid #C8D03E;
}

.submit {
    width: 100px;
    margin-right: 70px;
    float: right;
    padding: 4px;
    font-weight: bold;
    color: black;
    /* background: #129CF3; */
    font-size: 15px;
    border: 1px solid #DCD5E1;
    border-radius: 2px;
}

.submit:hover{
    background-color: #129CF3;
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#7c7a7a, #282828);
    background: -webkit-linear-gradient(#7c7a7a, #282828);
    background: -o-linear-gradient(#7c7a7a, #282828);
    background: -moz-linear-gradient(#7c7a7a, #282828);
    padding: 7px 0;
}

ul {
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #ffffff;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover {
    font-size: 20px;
    font-weight: bold;
    color: #B314DB;
}

#introduction {
    background: linear-gradient(#7c7a7a, #282828);
    background: -webkit-linear-gradient(#7c7a7a, #282828);
    background: -o-linear-gradient(#7c7a7a, #282828);
    background: -moz-linear-gradient(#7c7a7a, #282828);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3 {
    font-size: 45px;
    color: #ffffff;
    font-weight: normal;
}

#introduction p {
    font-size: 25px;
    color: #ffffff;
    text-align: justify;
}

.sidebar {
    height: 380px;
    width: 450px;
    border: 2px solid #252236;
    border-radius: 20px;
    padding: 10px 30px;
}

.sidebar h3 {
    color: #B314DB;
    font-size: 30px;
}

.sidebar ul {
    padding-top: 8px;
}

#leftsidebar ul li {
    padding: 4px 0 4px 10px;
    /* list-style-image: url(images/arrow.png); */
}

#rightsidebar ul li {
    padding: 17px 0 17px 70px;
    /* background: url(images/tick.png) no-repeat left center; */
}

th{
    font-size: 20px;
    color: #525a59;
}

.idata{
    border: 2px solid black;
    width: 200px;
    height: 30px;
    border-radius: 7px;
}



.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover{
    text-decoration: none;
    color: #B314DB;
    font-size: 23px;
    font-weight: bold;
}

#leftsidebar {
    margin-left: 15px;
    float: left;
}

#rightsidebar {
    margin-right: 15px;
    float: right;
}
.sup {
    border: 1px solid #129CF3;
    margin-left: 230px;
    border-radius: 5px;
    width: 120px;
    height: 35px;
}

.sup:hover{
   
    background-color: #129CF3;
    font-size: 15px;
}

/* .bar{
    height: 40px;
    background: linear-gradient(#7c7a7a, #282828);
    background: -webkit-linear-gradient(#7c7a7a, #282828);
    background: -o-linear-gradient(#7c7a7a, #282828);
    background: -moz-linear-gradient(#7c7a7a, #282828);
    padding: 10px 30px;
    margin-top: 15px ;
}*/

.footer {
    height: 40px;
    background: linear-gradient(#7c7a7a, #282828);
    background: -webkit-linear-gradient(#7c7a7a, #282828);
    background: -o-linear-gradient(#7c7a7a, #282828);
    background: -moz-linear-gradient(#7c7a7a, #282828);
    padding: 10px 30px;
    margin-top: 15px ;
}

.contact-us-form .form-control {
    display: block;
    width: 95%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    outline: 0px !important;
    /* transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s; */
    
}
#message {
    height: 117px;
    resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    
    background-color: transparent;
    border: 1px solid #129CF3;
    border-radius: 4px;
    width: 98%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #129CF3;
    outline: 0px !important;
    /* transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s; */
}
.submit-btn:hover {
    background: #129CF3;
    color: #fff;
    border-color: #129CF3;
}
.social-icons {
    padding-top: 50px;
    padding-bottom: 70px;
    
}
.social-icons ul {
    margin:0;
    padding: 0;
    text-align: center;
    
}
.social-icons ul li { 
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
     /* transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s; */
    
}
.social-icons ul li a:hover {
    
    background-color: #129CF3;
    border: 1px solid #129CF3;
    color: #fff;
} 
.social-icons ul li a i {
    font-size: 20px;
}